################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/BlazorAppWithIdentityServer/bin/Debug/net8.0
/BlazorAppWithIdentityServer/obj
/BlazorApp1/bin/Debug/net8.0
/BlazorApp1/obj
/BlazorAssembly/bin/Debug/net8.0
/BlazorAssembly/obj
/BlazorApp2/bin/Debug/net8.0
/BlazorApp2/bin/Debug/net8.0
/BlazorApp2/obj
/BlazorApp2/obj
/BlazorApp2/obj
/AngularSSR/obj/Debug
/BlazorAppWithIdentityServer/bin/Debug/net6.0
