@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<EditForm Model="@this.loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">
    <InputText @bind-Value="this.loginModel.Username" name="loginModel.Username" placeholder="Username" />
    <InputText @bind-Value="this.loginModel.Password" name="loginModel.Password" placeholder="Password" />
    <button type="submit">Login</button>
</EditForm>

