@page "/"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <p>Your roles:</p>
        <ul>
            @* @foreach (var claim in context.User.Claims.Where(c => c.Type == ClaimTypes.Role)) *@
            @* { *@
            @*     <li>@claim.Value</li> *@
            @* } *@
        </ul>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <h2>Please log in</h2>
        <LoginForm />
    </NotAuthorized>
</AuthorizeView>
@code {
    private async Task Logout()
    {
        var authStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        //authStateProvider.LogoutUser();
        NavigationManager.NavigateTo("/", true);
    }
}
