@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>歡迎, @context.User.Identity?.Name!</span>
                    <a href="javascript:void(0)" @onclick="(() => LogoutClick())">登出</a>
                </Authorized>
                <NotAuthorized>
                    <span>請登入</span>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    @inject AuthenticationStateProvider AuthStateProvider
    @inject NavigationManager NavigationManager

    private async Task LogoutClick()
    {
        var authStateProvider = (CustomAuthStateProvider)AuthStateProvider;
       // authStateProvider.LogoutUser();
        NavigationManager.NavigateTo("/", true);
    }
}